---
/**
 * ヒーローセクションコンポーネント
 */
interface Props {
  /**
   * ヒーローデータ
   */
  hero: {
    ttl: string;
    subTtl: string;
    desc: string;
  };
}

const { hero } = Astro.props;
---

<section class="sample_hero">
  <h1 class="hero_ttl">{hero.ttl}</h1>
  <p class="hero_subtitle">{hero.subTtl}</p>
  <p class="hero_desc">{hero.desc}</p>
</section>
