
# generated types
.astro/

# dependencies
node_modules/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# Local files
CLAUDE.md
package-lock.json
pnpm-lock.yaml
pnpm-workspace.yaml

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Astro internal files (outside htdocs)
astro-internal/

# Playwright
/playwright-report/
/playwright/.cache/
/test-results/
