body {
  font-family: Roboto, "BIZ UDGothic", sans-serif;
}

pre {
  margin-top: 1px;
  font-size: min(3.73333vw, 2.8rem);
  line-height: 2.28571;
  color: #8c8d91;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  line-break: normal;
}

mark {
  position: relative;
  font-weight: bold;
  background: linear-gradient(transparent 48%, #fdeaea 48%);
}

a {
  color: #f0813b;
  text-decoration: underline;
}

table {
  width: 100%;
  table-layout: auto;
  border: 1px solid #ccc;
  border-width: 1px 0;
}

table {
  margin-bottom: 40px;
}

table tr {
  border-bottom: 1px solid #ccc;
}

table th,
table td {
  padding: 20px 24px;
}

table th,
table td:first-of-type {
  padding: 30px 18px 15px 24px;
  font-weight: bold;
  text-align: left;
  background-color: #fdf7ef;
}

table td {
  background-color: #fff;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  line-height: 2.21429;
  border-bottom: 2px solid #f0813b;
}

@media screen and (width < 48em) {
  h2 {
    line-height: 1.23077;
  }
}

h3 {
  padding: 12px 16px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.41667;
  background-color: #fdf7ef;
}

@media screen and (width < 48em) {
  h3 {
    margin-bottom: 24px;
    line-height: 1.45455;
  }
}

h4 {
  position: relative;
  padding-left: 12px;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.5;
  color: #d3651f;
  border-left: 7px solid #f0813b;
}

@media screen and (width >= 48em) {
  h4 {
    line-height: 1.45455;
  }
}

h5 {
  font-weight: bold;
}

ul:not([style*="list"]),
ol:not([style*="list"]) {
  padding-left: 0;
  list-style: none;
}

ul:not(.-noStyle) li + li,
ol:not(.-noStyle) li + li {
  margin-top: 15px;
}

ul:not([style*="list"], .-noStyle) li {
  padding-left: 1.3em;
  text-indent: -1.2em;
}

ul:not([style*="list"], .-noStyle) li::before {
  display: inline-block;
  height: 12px;
  aspect-ratio: 1;
  margin-right: 8px;
  content: "";
  background: #f0813b;
  border-radius: 50%;
}

ol:not([style*="list"]) {
  counter-reset: number 0;
}

ol:not([style*="list"]) li {
  padding-left: 1.5em;
  text-indent: -0.6em;
}

ol:not([style*="list"]) li::before {
  display: inline-block;
  margin-right: 6px;
  font-weight: bold;
  color: var(--color-prime);
  content: counter(number, decimal) ".";
  counter-increment: number 1;
}
