---
import ImageImport from "@/components/ImageImport.astro";
import "@splidejs/splide/dist/css/splide-core.min.css";
import "../../scss/components/_c_slide.scss";

interface Props {
  img: {
    src: string;
    size: number[];
  }[];
}

const { img } = Astro.props;
---

<div class="top_mv">
  <div class="c_slide">
    <div class="splide mvSlide">
      <div class="c_slide_arrow">
        <div class="splide__track">
          <div class="splide__list">
            {
              img.map((item) => (
                <div class="splide__slide">
                  <ImageImport
                    src={item.src}
                    sizes={item.size}
                    sp
                    class="w-full"
                  />
                </div>
              ))
            }
          </div>
        </div>
      </div>
      <div class="c_slide_controller">
        <div class="c_slide_controller_grid">
          <div class="c_slide_counter">
            <span class="c_slide_counter_current"></span>
            <span class="c_slide_counter_length"></span>
          </div>
          <div class="c_slide_bar_wrap">
            <div class="c_slide_bar"></div>
          </div>
        </div>
        <button class="splide__toggle" type="button">
          <span class="splide__toggle__play">再生</span>
          <span class="splide__toggle__pause">一時停止</span>
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  import "../../ts/utils/slide";
</script>
