// コンテナ
.contentInner {
  width: 100%;
  max-width: rem($containerSize + $containerPadding * 2);
  padding: 0 spSize($containerPadding);
  margin: auto;
  @include mq() {
    padding: 0 rem($containerPadding);
  }
}

// PC/SP出しわけ
.pcOnly {
  @include mq(sp) {
    display: none !important;
  }
}

.spOnly {
  @include mq() {
    display: none !important;
  }
}
