/* サンプル */

.bg {
  background: url($imgPath + "top/sample.png");
}

.text-box {
  &-ttl {
    margin-bottom: 0.5em;
    color: $color-prime;
  }

  &-txt {
    &-span {
      color: $color-reversal;
      background-color: $color-prime;
    }
  }
}

/* /サンプル */
