@use "../abstracts" as *;

/* トップ */
.textLink {
  position: relative;
  // PC/SPサイズで一括出力できますPCのみならSP時も同じサイズ
  @include fontsize(15, 18);

  // :hoverと:focus-visibleを一括で出力できます
  @include hover() {
    color: $color-second;
  }

  // "pc" or "sp"でPC時（>=）、SP時（<）になります。デフォルトではPC時の表示。
  // 第二引数に数値（単位なし）を指定で該当のブレイクポイントになります。デフォルトでは設定ファイルのサイズ
  @include mq() {
    color: red;
  }

  &::after {
    display: inline-block;
    height: 1em;
    aspect-ratio: 1/1;
    margin: auto;
    margin-left: 0.5em;
    vertical-align: middle;
    content: "";
    background-image: url("https://placehold.jp/150x150.png");
  }
}

.sec_top {
  padding-block: 2rem;
}

.hoge {
  background: url("/_assets/top/sample.png");
}

/* /トップ */
