// ブレークポイント
$brakePoint: 768;

//　コンテナサイズ
$containerSize: 1200; // コンテンツ幅
$containerPadding: 16; // コンテンツ余白

// 画像パス
$imgPath: "/_assets/img/";

// フォント
$baseFont: "Noto Sans JP", "NotoSansJP", "Noto Sans Japanese", sans-serif;

//　テキストサイズ

$text-h1: clamp(4rem, calc(100vw / 375 * 40), 6.4rem);
$text-base: clamp(1.4rem, calc(100vw / 375 * 14), 1.6rem);

// カラーパレット
$color-txt: #333;
$color-reversal: #fff;
$color-prime: #00f;
$color-second: #f0f;

// イージング
$easing: 0.4s ease-out;
