---
import Layout from "@/layouts/Layout.astro";
import Mv from "@/pages/_parts/_mv.astro";
import Tailwind from "@/pages/_parts/_tailwind.astro";

const page = {
  head: {
    slug: "top",
    title: "タイトルタイトルタイトル",
    description: "テキストテキストテキストテキストテキストテキスト",
    url: "",
  },
  contents: {
    mv: {
      img: [
        {
          src: "/src/img/mv_img001.jpg",
          size: [1366, 518, 375, 480],
        },
        {
          src: "/src/img/mv_img002.jpg",
          size: [1366, 518, 375, 480],
        },
        {
          src: "/src/img/mv_img003.jpg",
          size: [1366, 518, 375, 480],
        },
      ],
    },
  },
};
---

<Layout page={page.head}>
  <Mv img={page.contents.mv.img} />
  <div class="grid gap-60">
    <Tailwind />
  </div>
</Layout>
