---
import Layout from "@/layouts/Layout.astro";
import About from "@/pages/_parts/_top/_about.astro";
import "@/scss/pages/_top.scss";
const page = {
  head: {
    slug: "top",
    ttl: "タイトルタイトルタイトル",
    description: "テキストテキストテキストテキストテキストテキスト",
    url: "",
  },
  contents: {},
};
const imgPath = "/_assets/img/" + page.head.slug + "/";
---

<Layout page={page.head}>
  <div class="grid gap-60">
    <About imgPath={imgPath} />
    <div class="contentInner">
      <p>
        あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
      </p>
    </div>
  </div>
</Layout>
