---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/pages/_parts/_top/_hearo.astro";
import Step from "@/pages/_parts/_top/_step.astro";
import Sample from "@/pages/_parts/_top/_sample.astro";
import "@/scss/pages/_top.scss";

const page = {
  head: {
    slug: "top",
    ttl: "サンプルページ",
    description: "Astro開発環境のサンプルページです。",
    url: "",
  },
  contents: {
    hero: {
      ttl: "astro-devハンズオン",
      desc: [
        "astro-devのデータ駆動コーディングとコンポーネント化設計について<br>実際に手を動かしながらを解説いたします。",
      ],
    },
    steps: [
      {
        id: "01",
        ttl: "実践パート1：データ駆動コーディング",
        desc: [
          "テキストや画像などのコンテンツはJSON形式にして、受け皿となるHTML構造とは別に管理することでコンテンツの差し替えなのか、それともHTMLの修正なのか、あるいはスタイルの修正だけで済むのかすぐに判断し、最小限の工数で修正や差し替えに対応できるようになります。",
        ],
        lists: [
          "WFやデザインデータからコンテンツを分解しデータ構造（JSON形式）を作ってみる",
          "コンテンツデータをHTML構造に流し込んでみる",
          "コンテンツを修正してみる",
        ],
      },
    ],
    steps2: [
      {
        id: "02",
        ttl: "実践パート2：コンポーネント化アーキテクチャ",
        desc: [
          'コンテンツデータと切り離したことで、同じコードを何度も書く必要がなくなりました。<br>条件分岐やマップ処理など再利用できる形で記述したHTMLのパーツを組み合わせてページを構築していくことで<br class="pcOnly">保守性・拡張性・開発効率を劇的に向上させることができます。',
        ],
        lists: [
          "インンターフェースを作ってみる",
          "マップ処理でHTML構造を使い回してみる",
          "条件分岐でHTML構造にオプションを追加してみる",
          "コンポーネントを修正してみる",
        ],
      },
    ],
  },
};

const imgPath = "/_assets/img/" + page.head.slug + "/";
---

<Layout page={page.head}>
  <Hero contents={page.contents.hero} />
  <Step contents={page.contents.steps} />
  <Sample />

  <!-- <section class="py-80">
    <div class="contentInner">
      <h2 class="text-h2 text-prime mb-16 border-b-3 pb-8 font-bold"></h2>
      <p class="mb-64"></p>
      <div class="grid gap-64">
        <div class="flex items-center justify-between gap-32 max-md:flex-col">
          <img
            src=""
            alt=""
            width="450"
            height="450"
            loading="lazy"
            decoding="async"
            class="block rounded-2xl max-md:w-full md:max-w-[50%]"
          />
          <div class="grid gap-16 md:max-w-[50%]">
            <h3 class="text-h3 text-prime font-bold"></h3>
            <p></p>
            <a href="" class="c_btn mx-0 md:min-w-260"></a>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <Step contents={page.contents.steps2} />
</Layout>
