---
/**
 * 下層タイトルコンポーネント。
 */
interface Props {
  /**
   * 下層タイトル
   */
  ttl: string;
}

const { ttl } = Astro.props;
---

<div class="bg-prime">
  <div class="contentInner">
    <h1 class="c_ttl_lower" set:html={ttl} />
  </div>
</div>
