---
/**
 * 下層タイトルコンポーネント。
 */
interface Props {
  /**
   * 下層タイトル
   */
  title: string;
}

const { title } = Astro.props;
---

<div class="bg-highlight">
  <div class="contentInner">
    <h1 class="c_ttl_lower">{title}</h1>
  </div>
</div>
