---
interface Props {
  contents: {
    ttl: string;
    desc: string;
    column: {
      img: string;
      ttl: string;
      desc: string;
      list?: string[];
      btn: {
        href: string;
        txt: string;
      };
    }[];
  };
  imgPath: string;
}

const { contents, imgPath } = Astro.props;
---

<section class="py-80">
  <div class="contentInner">
    <h2 class="text-h2 text-prime mb-16 border-b-3 pb-8 font-bold"></h2>
    <p class="mb-64"></p>
    <div class="grid gap-64">
      <div class="flex items-center justify-between gap-32 max-md:flex-col">
        <img
          src=""
          alt=""
          width="450"
          height="450"
          loading="lazy"
          decoding="async"
          class="block rounded-2xl max-md:w-full md:max-w-[50%]"
        />
        <div class="grid gap-16 md:max-w-[50%]">
          <h3 class="text-h3 text-prime font-bold"></h3>
          <p></p>
          <a href="" class="c_btn mx-0 md:min-w-260"></a>
        </div>
      </div>
    </div>
  </div>
</section>
