---

---

<section class="py-80">
  <div class="contentInner">
    <h2 class="text-h2 text-prime mb-16 border-b-3 pb-8 font-bold">
      astro-devについて
    </h2>
    <p class="mb-64">
      vite-devの後継的開発環境のastro-devの特徴と利用シーンについてご紹介いたします。<br
      />
      データ駆動コーディングとコンポーネント化アーキテクチャによって、修正や量産が大量に発生する案件に最適です。
    </p>
    <div class="grid gap-64">
      <div
        class="flex items-center justify-between gap-32 max-md:flex-col md:flex-row-reverse"
      >
        <img
          src="/_assets/img/sample/sample_002.png"
          alt=""
          width="450"
          height="450"
          loading="lazy"
          decoding="async"
          class="block rounded-2xl max-md:w-full md:max-w-[50%]"
        />
        <div class="grid gap-16 md:max-w-[50%]">
          <h3 class="text-h3 text-prime font-bold">利用シーン</h3>
          <p>
            オウンドメディアなどコンポーネントを組み合わせて量産するサイトや<br
              class="pcOnly"
            />着手段階でデザインやコンテンツがFIXしておらず、後から大量の差し替えや修正が発生する案件で活躍します。
          </p>
          <a href="" class="c_btn mx-0">もっと見る</a>
        </div>
      </div>
      <div class="flex items-center justify-between gap-32 max-md:flex-col">
        <img
          src="/_assets/img/sample/sample_001.png"
          alt=""
          width="450"
          height="450"
          loading="lazy"
          decoding="async"
          class="block rounded-2xl max-md:w-full md:max-w-[50%]"
        />
        <div class="grid gap-16 md:max-w-[50%]">
          <h3 class="text-h3 text-prime font-bold">技術スタック</h3>
          <p>
            astro-devではTypeScriptやTailwind、WebPなどモダンなweb技術を使用して<br
              class="pcOnly"
            />静的HTMLを構築することができます。
          </p>
          <ul class="mb-20 ml-15 list-disc">
            <li>SCSS → CSS コンパイル</li>
            <li>TypeScript → JavaScript トランスパイル</li>
            <li>画像圧縮（imagemin）</li>
            <li>WebP変換</li>
            <li>Tailwind CSS v4 対応</li>
          </ul>
          <a href="" class="c_btn mx-0">もっと見る</a>
        </div>
      </div>
    </div>
  </div>
</section>
