---
/**
 * フッターコンポーネント
 */
interface Props {
	copyright: string;
}

const { copyright } = Astro.props;
---

<footer>
	<div class="bg-highlight">
		<div class="contentInner">フッター</div>
	</div>
	<div class="bg-prime text-reversal">
		<p class="text-sm text-center">
			&copy; {new Date().getFullYear()}
			{copyright}
		</p>
	</div>
</footer>
