---
import Gnavi from "@/components/Gnavi.astro";

/**
 * ヘッダーコンポーネント。
 */
interface MenuItem {
  link: string;
  txt: string;
  blank?: boolean;
  anchor?: boolean;
  child?: MenuItem[];
}

interface Props {
  /**
   * 現在のページのスラッグ。トップページかどうかを判別するために使用されます。
   */
  slug: string;
  /**
   * サイトの名前。ロゴのalt属性として使用されます。
   */
  siteName: string;
  /**
   * グローバルナビゲーションのメニュー項目を定義する配列。
   */
  menu: MenuItem[];
}

const { slug, siteName, menu } = Astro.props;
---

<header class="l_header">
  <div class="contentInner">
    <div class="header-inner">
      <!-- サイトロゴ -->
      {
        slug === "top" ? (
          <h1 class="header-logo">
            <a href="/" class="logo-link">
              <span class="logo-text">{siteName}</span>
            </a>
          </h1>
        ) : (
          <div class="header-logo">
            <a href="/" class="logo-link">
              <span class="logo-text">{siteName}</span>
            </a>
          </div>
        )
      }

      <!-- グローバルナビゲーション -->
      <Gnavi menu={menu} slug={slug} />
    </div>
  </div>
</header>
