---
import '../scss/abstracts/_reset.css';
import '../scss/base/_default.scss';
import '../scss/base/_general.scss';
import '../scss/abstracts/_tailwind.css';
---

<!doctype html>
<html dir='ltr' lang='ja'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta property='og:image' content='/_assets/img/ogp.jpg' />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<script>
	import '../ts/app.js';
</script>
